body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
}


nav {
    background-color: #2f2f30;
    padding: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-overflow: ellipsis;
    position: fixed;
    height: 100%;
    width: 150px;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-open {
    display: flex;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}

section {
    padding: 20px;
    text-align: justify;
    animation: backgroundColorChange 10s infinite alternate;
        }



        @keyframes backgroundColorChange {
            0% {
                background-color: aliceblue;
            }

            100% {
                background-color: azure;
            }
        }


iframe {
    display: block;
    margin: 0 auto; 
    max-width: 100%;
    height: auto 600;
    width: 1500;
}


footer {
    background-color: #3b6288;
    color: #ecf0f1;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

#mindanao{
    padding-bottom: 60px;
}

.image-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.image-gallery img {
    width: 30%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.image-gallery img:hover {
    transform: scale(1.1);
}

.image-gallery img:not(:first-child) {
    display: none;
}

button {
    border-color: #2c3e50;
}

